@using System.Collections.ObjectModel

<form>
    @ChildContent
</form>

@code {
    [Parameter]
    [EditorRequired]
    public RenderFragment ChildContent { get; set; } = default!;

    public static IReadOnlyDictionary<string, object> DefaultHtmxAttributes(string postUrl) => new ReadOnlyDictionary<string, object>(new Dictionary<string, object>
    {
         { "hx-post", postUrl },
         { "hx-trigger", "click" },
         { "hx-target", "closest form" },
         { "hx-swap", "outerHTML" },
    });
}
