<!-- Trigger modal -->
@ModalTrigger

<!-- Modal -->
<div class="modal fade" id="@Config.Id" tabindex="-1" aria-labelledby="@Config.TitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        @ModalContent
    </div>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public required ModalConfig Config { get; set; }

    [Parameter]
    [EditorRequired]
    public required RenderFragment ModalTrigger { get; set; }

    [Parameter]
    [EditorRequired]
    public required RenderFragment ModalContent { get; set; }

    public static ModalConfig BuildModalConfig(object uniqueId) => new()
    {
        Id = $"modal_{uniqueId}",
        TitleId = $"title{uniqueId}",
    };

    public class ModalConfig
    {
        public required string Id { get; set; }

        public required string TitleId { get; set; }
    }
}
