<div id="@WrapperId(For)">
    @if (ServerErrors?.TryGetValue(For, out var errors) == true && errors.Any())
    {
        foreach (var error in errors)
        {
            <div class="validation-message text-danger">@error</div>
        }
    }
</div>

@code {
    [Parameter]
    [EditorRequired]
    public required string For { get; set; }

    [Parameter]
    public Dictionary<string, HashSet<string>>? ServerErrors { get; set; }

    public static string WrapperId(string uniqueId) => $"server-errors_{uniqueId}";
}
