@page "/Account/Register"

<PageTitle>Register</PageTitle>

<h1>Register</h1>
<hr />

<div class="container">
    <div class="row text-center justify-content-center">
        <div class="col-lg-6 col-md-10 col-sm-12">
            <RegisterForm />
        </div>
    </div>
</div>
