@inject DatabaseContext DatabaseContext

<EditForm Enhance Model="Input" method="post" OnValidSubmit="OnValidSubmitAsync" FormName="@formName">
    <DataAnnotationsValidator />
    <div class="form-floating mb-3">
        <InputText @bind-Value="Input.Title" class="form-control" placeholder="title" />
        <label for="title" class="form-label">Title</label>
        <ValidationMessage For="() => Input.Title" class="text-danger" />
    </div>
    <div class="form-floating mb-3">
        <button type="submit" class="btn btn-lg btn-primary">Save</button>
    </div>
</EditForm>

 @code {
    [Parameter]
    public ToDo Entity { get; set; } = new();

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    private string formName = string.Empty;

    protected override void OnInitialized()
    {
        formName = $"ToDoForm_{Entity.Id}";

        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            Input.Title = Entity.Title;
        }
    }

    private async Task OnValidSubmitAsync()
    {
        var createModifyDate = DateTimeOffset.UtcNow;
        Entity.ModifyDate = createModifyDate;
        Entity.Title = Input.Title;

        if (Entity.Id == default)
        {
            Entity.Id = Guid.NewGuid();
            Entity.CreateDate = createModifyDate;
            Entity.Status = ToDoStatus.NotCompleted;
            Entity.UserId = HttpContext.GetRequiredUserId();

            DatabaseContext.Add(Entity);
            await DatabaseContext.SaveChangesAsync();
        }
        else
        {
            await DatabaseContext.ToDos
                .Where(toDo => toDo.UserId == Entity.UserId)
                .ExecuteUpdateAsync(x => x
                    .SetProperty(toDo => toDo.Title, Entity.Title)
                    .SetProperty(toDo => toDo.ModifyDate, Entity.ModifyDate));
        }
    }

    private class InputModel
    {
        [Required]
        [MaxLength(Constants.ToDoTitleMaxLength)]
        public string Title { get; set; } = string.Empty;
    }
}
