<Modal Config="ModalConfig">
    <ModalTrigger>
        @ModalTrigger
    </ModalTrigger>
    <ModalContent>
        <div class="modal-content">
            <ToDoModalForm ModalConfig="ModalConfig" Model="Model" />
        </div>
    </ModalContent>
</Modal>

@code {
    [Parameter]
    [EditorRequired]
    public required ModalConfig ModalConfig { get; set; }

    [Parameter]
    [EditorRequired]
    public required RenderFragment ModalTrigger { get; set; }

    [Parameter]
    public ToDoDto Model { get; set; } = new();
}
