@page "/Account/Login"

<PageTitle>Log in</PageTitle>

<h1>Login</h1>
<hr />

<div class="container">
    <div class="row text-center justify-content-center">
        <div class="col-lg-6 col-md-10 col-sm-12">
            <LoginForm />
        </div>
    </div>
</div>
